
h2, .rst-content p.caption {
    font-size: 115%;
}

h3, .rst-content p.caption {
    font-size: 110%;
}

h4, .rst-content p.caption {
    font-size: 105%;
}

h5, .rst-content p.caption {
    font-size: 100%;
}

p, .rst-content {
    text-align: justify;
}
